<div class="modal-header"><h4 class="modal-title">New Kategorie</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()">
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="itemInput">Bezeichnung</label>
    <input type="text" class="form-control" id="itemInput" [(ngModel)]="bezeichnung">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Schließen</button>
  <button type="button" class="btn btn-success" (click)="save()">Speichern</button>
</div>
