.showstopper {
    color: red;
    font-weight: bold;
}

.high {
    color: orange;
}

.normal {
    color: dodgerblue;
}

.low {
    color: lightgreen;
}
button {
    margin-left: 5px;
}

.table {
    user-select: none;
}

.sort-arrow {
    cursor: pointer;
    font-size: 0.75rem;
}
