<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" (click)="alphaNumSort('title')">Title</th>
                <th scope="col" (click)="alphaNumSort('date')">Date</th>
                <th scope="col" (click)="alphaNumSort('priority')">Priority</th>
                <th scope="col" (click)="alphaNumSort('kategorie')">Kategorie</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list; let i = index">
                <td>{{ i }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.date }}</td>
                <td [ngClass]="item.priority">{{ item.priority }}</td>
                <td>{{ item.kategorie }}</td>

                <td class="text-right">
                    <button
                        type="button"
                        class="btn btn-success"
                        (click)="addKategorieClicked(i)"
                    >
                        Kategorie
                    </button>
                    <button
                        *ngIf="!item.done"
                        type="button"
                        class="btn btn-primary"
                        (click)="todoService.markDone(i)"
                    >
                        Done
                    </button>
                    <button
                        *ngIf="item.done"
                        type="button"
                        class="btn btn-primary"
                        (click)="todoService.markUndone(i)"
                    >
                        Undone
                    </button>
                    <button
                        *ngIf="item.done"
                        type="button"
                        class="ms-1 btn btn-danger"
                        (click)="todoService.deleteTodo(i)"
                    >
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
