.showstopper {
    color: red;
    font-weight: bold;
}

.high {
    color: orange;
}

.normal {
    color: dodgerblue;
}

.low {
    color: lightgreen;
}
button {
    margin-left: 5px;
}

.sort-button {
    width: 2vw;
    height: 4vh;
    padding: 0;
    margin: 0;
    border: none;
    background-color: white;
}
